div{ margin: 20px 30%; padding: 30px 50px 30px; background-color: rgb(204, 149, 255); font-family: 'Courier New', Courier, monospace;
} .headers{ color: aliceblue;}
div{display: block inline;}
.second{ background-color: rgb(255, 10, 132);}
.secondpara{ color: aliceblue;}